<div class="container">
    <h1>
        <img class="img-logo" src="/assets/img/dos.jpg">
    </h1>

    <input type="text" class="form-control" placeholder="Walter White" (input)="filter($event)">


    <div class="row">
        <div *ngFor="let personaje of personajes" class="col-xl-4 col-sm-6 col-xs-12">
            <app-pagetwo [personaje]="personaje"></app-pagetwo>
        </div>
    </div>
</div>

<footer class="page-footer font-small cyan darken-3 text-center">

    <!-- Footer Elements -->
    <div class="container ">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <div class="">
        <img class="img-logo" src="/assets/img/uno.jpg"> ">
    </div>

    <div class="footer-copyright text-center text-white py-3">
        <hr>
        <p>ElPortilProductions all right reserved</p>
    </div>
    <!-- Copyright -->

</footer>