<div class="card my-4 bg-dark">
    <div class="card bg-dark" style="width: 18rem;">
        <img [src]="personaje.img" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{personaje.name}}</h5>
            <p class="card-text">{{personaje.nickname}}</p>
            <span class="btn btn-sm" [ngClass]="{
                'btn-success': personaje.status.toLowerCase().includes('alive'),
                'btn-danger': !personaje.status.toLowerCase().includes('alive')
            }">{{personaje.status}} </span>


            <div class="">
                <p>Occupation</p>

                <div *ngFor=" let o of personaje.occupation">

                    <strong>&bull;{{ o }}</strong>
                </div>



            </div>



        </div>
    </div>
</div>